font-family: 'Barlow Semi Condensed', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font: 15px;
  font-size:xx-large;
  font-weight:bolder;
  color: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  line-height: 1;
}

#showcase{
  background-image: url("https://i.imgur.com/9VxHASB.jpg");
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify:center;
  justify-content:center;
  align-items:center;
  text-align:left;
  padding:0 20px;
}

#showcase h1 {
  font-size: 55px;
  text-align:left;
  padding-top: 400px;
}

#showcase h3 {
  font-size: 30px;
  text-align:left;
  /* line-height: px; */
  padding: 0px;
}

body {
  background-color: #363334;
}

main h3{
  color: black;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  font: bold;
}

main {
  color: green;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font: bolder;
  font-size: 25px;
}
#section-a {
  background-color: #363334;
  color: white;
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  justify:center;
  justify-content:center;
  align-items:center;
  text-align:left;
  /* padding:0 20px; */
  width: 5000px;
  /* padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px; */
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

a:active {
  color: white;
}