h1 {
    background-image: url(https://imgur.com/9VxHASB);
    opacity: 0.3;
    font size: 20px;
    color: antiquewhite;
    font-family: BarlowSemiCondensed-Thin;

}

body {
    background-color: #454545;
    color: antiquewhite;
    font-family: BarlowSemiCondensed-Thin;
}